<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity4">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>


<div class="container" id="main-container">
  <h2>Profesores</h2>
  <p>Los profesores que actualmente figuran en el sistema son los siguientes:</p>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">dni</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Categoría</th>
        <th scope="col">Departamento</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="professor : ${professorList}">
        <td scope="row" th:text="${professor.dni}"> 1</td>
        <td th:text="${professor.name}"> Ramon</td>
        <td th:text="${professor.surname}">Garcia</td>
        <td th:text="${professor.category}">Lengua</td>
        <td th:text="${professor.department.name}">Lengua</td>
        <td><a sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_PROFESSOR')" th:href="${'/professor/details/' + professor.dni}">detalles</a></td>
        <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/professor/edit/' + professor.dni}">modificar</a></td>
        <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/professor/delete/' + professor.dni}">eliminar</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${#lists.isEmpty(professorList)}"> No professors </div>
  <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
