<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
  <h2 th:text="#{addDepartment.message}"></h2>
  <form class="form-horizontal" method="post" action="/department/add" th:object="${department}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="description" th:text="#{description.message}"></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" name="description"
               required="true" th:value="${department.description}"/>
        <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name" th:text="#{name.message}"></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name"
               required="true" th:value="${department.name}"/>
        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" th:text="#{send.message}"></button>
      </div>
    </div>
  </form>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
